/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 100%;
  background-color: var(--page-background-color);
  background-attachment: fixed;
  background-image: var(--background-image-url);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.header {
  box-sizing: border-box;
  padding: var(--padding) var(--padding);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  align-items: center;
  justify-items: end;
}

.footer {
  box-sizing: border-box;
  padding: var(--padding) var(--padding);
  display: grid;
  align-items: center;
  justify-items: end;
  height: 100vh;
  min-height: 668px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  bottom: var(--padding);
  left: var(--padding);
  border-bottom: var(--border-style);
  border-left: var(--border-style);
}
.decorated-zone::after {
  top: var(--padding);
  right: var(--padding);
  border-top: var(--border-style);
  border-right: var(--border-style);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.header__theme-menu {
  box-sizing: border-box;
  align-self: center;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  box-sizing: border-box;
  padding: 0px 13px;
  background-color: transparent;
  border: 0;
  text-transform: lowercase;
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  color: var(--main-section-title-font-color);
  line-height: 18px; /* 100% */
  min-height: 26px;
}

.header__theme-menu-button:hover {
  outline: var(--border-style);
  outline-offset: -1px;
}

.header__theme-menu-button:focus {
  text-decoration: underline;
}

.header__title {
  box-sizing: border-box;
  color: var(--title-font-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 82.5%;
  justify-self: self-start;
}

.paragraph__title {
  color: var(--subtitle-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  line-height: var(--line-height);
  font-weight: 700;
  background-color: var(--accent-color);
  width: 100%;
  align-self: center;
  justify-self: end;
}

.body__section__container {
  display: grid;
  gap: 20px;
}

.body__section__container__article__text {
  color: var(--article-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: var(--line-height);
}

.paragraph__question {
  color: var(--main-section-title-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: var(--line-height); /* 130% */
}

.paragraph__subtitle {
  color: var(--subtitle-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: var(--line-height); /* 130% */
  background-color: var(--accent-color);
}
.galery {
  display: grid;
  gap: 10px;
  /* height: 1091px; */
  width: 100%;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr); */
  grid-auto-flow: dense;
  grid-template-areas:
    "sunset"
    "ice-cream"
    "tape"
    "books"
    "street";
}
/* .galery {
  display: grid;
  gap: 10px;
  height: 1091px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: dense;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
} */
.sunset {
  grid-area: sunset;
}

.ice-cream {
  grid-area: ice-cream;
}

.tape {
  grid-area: tape;
}

.books {
  grid-area: books;
}

.street {
  grid-area: street;
}

.picture {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.footer__title {
  justify-self: center;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-sizing: border-box;
  padding: 0px var(--padding);
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.horizontal__articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.header__paragraph__title {
  width: 100%;
}
.second__section {
  display: grid;
  gap: 20px;
  grid-template-rows: min-content 1fr;
}
.main__gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text__link {
  /* text-shadow: 2px 2px 0px var(--accent-color); */
  text-decoration: none;
}
.text__link2 {
  text-shadow: 2px 2px 0px var(--accent-color);
  
  /* text-decoration: none; */
}
/* .header__theme-menu-button:hover {
  outline: 1px solid  var(--article-font-color);
  outline-offset: -1px;
}

.text__link:hover {
  outline: 1px solid #fff;
  outline-offset: -1px;
} */

.text__link2:hover {
  text-decoration: none;
  outline: none;
}

.text__link:hover,
.header__theme-menu-button:focus {
  outline: none;
  text-underline-offset: 5px;

   text-decoration: underline; 
}

.header__theme-menu-button:hover,
.text__link:focus {
  outline: none;
  text-decoration: none;
  outline: 1px solid var(--article-font-color);
  outline-offset: -1px; 
}

@media (min-width: 375px) and (max-width: 768px) {
  .header__title {
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --padding: 20px;
  }

  .header,
  .footer {
    min-height: 1024px;
  }
  .body__section__container {
    grid-template-columns: 236px 1fr;
  }
  .header__paragraph__title {
    max-width: 364px;
  }
  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .second__section .paragraph__question {
    max-width: 236px;
  }
  .horizontal__articles {
    grid-template-columns: 1fr;
  }
  .galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 780px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }

  .main__gallery {
    gap: 20px;
  }
  .main {
    gap: 80px;
  }
  .page {
    gap: 60px;
  }
}

@media (min-width: 1024px) {
  :root {
    --padding: 20px;
  }
  .header__theme-menu {
    align-self: flex-start;
    justify-self: center;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }
  .header,
  .footer {
    min-height: 768px;
  }
  .body__section__container {
    grid-template-columns: 315px 1fr;
  }
  .header__paragraph__title {
    max-width: 491px;
  }
  .header__title {
    margin-left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  .second__section .paragraph__question {
    max-width: 315px;
  }
  .horizontal__articles {
    grid-template-columns: repeat(3, 1fr);
  }
  .galery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 1048px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "tape books ice-cream"
      "tape street street";
  }
  .main__gallery {
    gap: 20px;
  }
  .main {
    gap: 80px;
  }
  .page {
    gap: 60px;
  }
}

