/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 100%;
  box-sizing: border-box;
  padding: 0px 10px;

  background-color: var(--page-background-color);
  background-attachment: fixed;
  background-image: var(--background-image-url);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;

}

.header {
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-height: 668px;
  height: 100vh;
  align-items: center;
  justify-items: end;

}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  bottom: 10px;
  left: 0px;
  border-bottom: var(--border-style);
  border-left: var(--border-style);
}
.decorated-zone::after {
  top: 10px;
  right: 0px;
  border-top: var(--border-style);
  border-right: var(--border-style);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
}

.header__theme-menu {
  box-sizing: border-box;
  align-self: center;
}

.header__theme-menu-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .header__theme-menu-item {
} */

.header__theme-menu-button {
  box-sizing: border-box;
  padding: 0px 13px;
  background-color: transparent;
  border: 0;
  text-transform: lowercase;
  text-align: center;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  color: var(--main-section-title-font-color);
  line-height: 18px; /* 100% */
  min-height: 26px;
}

.header__theme-menu-button:hover {
  outline: var(--border-style);
  outline-offset: -1px;
}

.header__theme-menu-button:focus {
  text-decoration: underline;
}

.header__title {
  box-sizing: border-box;
  color: var(--title-font-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  /* text-shadow: 4px 4px 0px var(--title-background-color); */
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  justify-self: self-start;
}

.paragraph__title {
  width: 100%;
  /* max-width: 491px; */
  /* max-width: 491px;
  max-height: 71px; */
  color: var( --subtitle-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  line-height: var(--line-height); /* 130% */
  font-weight: 700;
  background-color: var(--accent-color);
  align-self: center;
}

.body__section__container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(236px, 355px));
}

.body__section__container__article__text {
  color: var(--article-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: var(--line-height); /* 130% */
}

.paragraph__question {
  color: var(--main-section-title-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: var(--line-height); /* 130% */
}

.paragraph__subtitle {
  color: var( --subtitle-font-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-style: var(--font-style);
  font-weight: 400;
  line-height: var(--line-height); /* 130% */
  background-color: var(--accent-color);
}

.galery {
  display: grid;
  max-width: 100%-20px;
  gap: 10px;
}
.picture {
  width: 100%;
}

.footer__title {
  box-sizing: border-box;
  color: var(--title-font-color);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: var(--font-style);
  font-weight: 700;
  line-height: 82.5%; /* 129.525px */
  justify-self: self-start;
}

.footer {
  display: grid;
  align-items: center;
  justify-items: end;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
